<!--REACTIVE FORM-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .login-form {
          width: 340px;
          margin: 50px auto;
      }
      .login-form form {
          margin-bottom: 15px;
          background: #f7f7f7;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          padding: 30px;
      }
      .login-form h2 {
          margin: 0 0 15px;
      }
      .form-control, .btn {
          min-height: 38px;
          border-radius: 2px;
      }
      .btn {        
          font-size: 15px;
          font-weight: bold;
      }
  </style>
  </head>
         
<!--  <h1 style="text-align: center;">Register to explore amazing career opportunities</h1>-->

<body>
<div class="login-form">
    <form [formGroup]="ContactForm" (ngSubmit)="SubmitInfo()">
        <h2 class="text-center">Register</h2>
        <div class="form-group">
            <label>Name*</label>
            <input type="text" name="fname" id="fname" class="form-control" placeholder="Name" required="required" formControlName="firstName">
            <div *ngIf="!fname?.valid && (fname?.dirty || fname?.touched)" class="error">
            <div *ngIf="fname!.errors!.required">
                <p class="text-danger">First Name is required</p>
            </div>
            </div>
        </div>

        <div class="form-group">
        <label>Mobile No.*</label>
        <input type="text" class="form-control" placeholder="Enter Mobile No."
        name="mobileno" id="mobileno" required="required" formControlName="mobileno"> 
        </div>
        <div *ngIf="!Mobileno?.valid && (Mobileno ?.dirty || Mobileno?.touched)" class="error">
            <div *ngIf="Mobileno!.errors!.required">
                <p class="text-danger">Mobile Number is required</p>  
            </div>
            <div *ngIf="Mobileno!.errors!.minlength">
                <p class="text-danger">Enter atleast 10 digits </p> 
            </div>               
        </div>


        <div class="form-group">
        <label>Email Address*</label>
        <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="Enter Email Address"
        required="required">
        </div>
        <div *ngIf="!email?.valid && (email ?.dirty || email?.touched)" class="error">
            <div *ngIf="email!.errors!.required">
                <p class="text-danger">Email is required</p> 
            </div>
            <div *ngIf="email!.errors!.pattern">
                <p class="text-danger">Email Pattern Error</p>
            </div>                      
            </div>

            <div class="form-group">
                <label>Password*</label>
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" 
                formControlName="pwd" required="required">
            </div>
            <div *ngIf="!pwd?.valid && (pwd ?.dirty || pwd?.touched)" class="error">
            <div *ngIf="pwd!.errors!.required">
                <p class="text-danger">Password is required</p>  
            </div>
            <div *ngIf="pwd!.errors!.minlength">
                <p class="text-danger">Enter atleast 8 digits</p>
            </div>               
            </div>

            <div class="form-group">
                <label>Confirm Password*</label>
                <input type="text" class="form-control" id="cpwd" name="cpwd"
                placeholder="Re-Enter Password"  formControlName="cpwd" required="required">
            </div>
            <div *ngIf="!pwd?.valid && (cpwd ?.dirty || cpwd?.touched)" class="error">
                <div *ngIf="cpwd!.errors!.required">
                    <p class="text-danger">Password is required </p> 
                </div>
                <div *ngIf="cpwd!.errors!.minlength">
                    <p class="text-danger">Enter atleast 8 digits </p> 
                </div>               
            </div>

            
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
        
            <div class="clearfix">
            <a routerLink="../Login">Already have an account? Sign in </a>
            </div>        

            </form>     
        </div>

