<html>
    <body>
        <br><br><br><br>
        <div class="container">
            <div class="row">
              <div class="col-sm justify-content-center">
                <div class="form-group">
                    <button type="submit" class="form-control" class="btn btn-primary btn-block" id="details">Retailer Details</button>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="form-control" class="btn btn-primary btn-block" id="changepassword">Change Password</button>
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" class="form-control" class="btn btn-primary btn-block" id="deleteaccount">Delete Account</button>
                </div>
                <br>
              </div>
              <div class="col-sm-8" style="padding-left:100px">
                <div class="form-group">
                    <button type="submit" class="form-control" class="btn btn-primary btn-lg" id="addproduct">Add Product</button>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>
