<br>
<!--<h1 style="text-align: center;">Forgot Password</h1> -->

<body>
    <div class="login-form">
        <form #rform="ngForm" (ngSubmit)="Submitdata()" novalidate>
            <h3 class="text-center">Change Password</h3><br>
            <div class="form-group">
                <label>Old Password</label>
                <input type="password" class="form-control" placeholder="Old Password" id="pldpw" name="oldpw" #name1
                    required [(ngModel)]="retailer.OldPassword" #oldpw="ngModel">
            </div>
            <div *ngIf="!oldpw?.valid && (oldpw?.dirty || oldpw?.touched)" class="error">
                <div *ngIf="oldpw!.errors!.required">
                    Password is required
                </div>
                <div *ngIf="oldpw!.errors!.minlength">
                    Enter atleast 8 digits
                </div>
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="New Password" id="pwd" name="pwd"
                    required minlength="8" [(ngModel)]="retailer.NewPassword" #pwd="ngModel">
            </div>
            <div *ngIf="!pwd?.valid && (pwd ?.dirty || pwd?.touched)" class="error">
                <div *ngIf="pwd!.errors!.required">
                    New Password is required
                </div>
                <div *ngIf="pwd!.errors!.minlength">
                    Enter atleast 8 digits
                </div>
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" id="conpw" name="conpw">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-block" [disabled]="!rform.valid">
                    <a routerLink="../retailer-profile">Submit</a></button>
            </div>

        </form>

    </div>
    <div class="container-fluid">
        <div class="footer-copyright text-center py-3" style="background-color: rgb(170, 169, 169);">
            <br>
            <p>© 2020 Larsen & Toubro Infotech Limited</p>
        </div>
    </div>
