
<div class="card" style="width:150rem; margin-left: 10%;">
    <div class="card-top border-bottom text-center"><h3>Proceed to Payment</h3></div>
    <div class="card-body">
  <div class="row upper"> <span><i class="fa fa-check-circle-o"></i> Added to Cart</span> <span><i class="fa fa-check-circle-o"></i> Order Summary</span> <span id="payment"><span id="three">3</span>Payment</span> </div>
        <div class="row">
            <div class="col-md-7">
                <div class="left border">
                    <div class="row"> <span class="header">Payment</span>
                        <div class="icons"> <img src="https://img.icons8.com/color/48/000000/visa.png" /> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
                    </div>
                    <form> <span>Cardholder's name:</span> <input placeholder="John Doe"> <span>Card Number:</span> <input placeholder="0125 6780 4567 9909">
                        <div class="row">
                            <div class="col-4"><span>Expiry date:</span> <input placeholder="YY/MM"> </div>
                            <div class="col-4"><span>CVV:</span> <input id="cvv"> </div>
                        </div> <input type="checkbox" id="save_card" class="align-left"> <label for="save_card">&nbsp; Save card details to wallet</label>
                    </form>
                </div>
                <br>
                <div class="row">
                <div class="col-4"></div>
                <button class="btn btn-primary btn-block col-4" (click)="CreateOrder(productList[0].cartId)" >
                <a routerLink="../OrderSuccesful" class="text-white">Place order</a></button>
            </div>     
            </div>
            
            <div class="col-md-5">
                <div class="right border">
                    <div class="header">Order Summary</div>
                    <p>{{productList.length}} Items</p>
                    <p>Total Amount:  ₹{{this.total}}</p>
                    <hr>
                    <div class="row item">
                        
                        <div class="col-8" *ngFor="let product of productList;let i=index">
                            <div class="col-4 align-self-center">{{product.product.productImages[i]}}</div>  
                            <div class="row"><b> ₹{{product.product.pricePerUnit}}</b></div>
                            <div class="row text-muted">{{product.product.productName}}</div>
                            <div class="row">Quantity: {{product.quantity}}</div>
                            <hr>
                        </div>
                    </div>
                   