<header class="p-3 bg-light navbar-light text-black">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <i class="fa fa-shopping-bag" style="font-size: 35px;" aria-hidden="true"></i>
      <h3 class="my-0 mr-md-auto font-weight-normal px-3">
        Stop-&-Shop</h3>

        



      <ng-container *ngIf="userRole==='customer' ">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

          <li><a routerLink="Home" class="nav-link px-2 text-black">Home</a></li>
          <li><a routerLink="Categories" class="nav-link px-2 text-black">Categories</a></li>
          <li><a routerLink="Compare" class="nav-link px-2 text-black">Compare</a></li>
        </ul>

        <form class="col-8 col-lg-auto mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" name="search" [(ngModel)]="searchTerm"
            (keyup)="search($event)" placeholder="Search..." aria-label="Search">
        </form>
        
      </ng-container>

     

      <ng-container *ngIf="userRole==='admin'">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

          <li><a routerLink="Home" class="nav-link px-2 text-black">Home</a></li>
          <li><a routerLink="AdminRetailerAdd" class="nav-link px-2 text-black">Add Retailer</a></li>
          <li><a routerLink="AdminRetailerDetails" class="nav-link px-2 text-black">Retailers</a></li>
        </ul>

      </ng-container>

      <ng-container *ngIf="userRole==='retailer'">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="RetailerProfile" class="nav-link px-2 text-black">Home</a></li>
          <li><a routerLink="AddProduct" class="nav-link px-2 text-black">Add Product</a></li>
          <li><a routerLink="RetailerDetails" class="nav-link px-2 text-black">Profile</a></li>
        </ul>
      </ng-container>



      <div class="text-end pt-2">

        <div *ngIf="!message">
          <a routerLink="Login"><button type="button" class="btn btn-primary">Login</button></a>
          <a routerLink="Registration"><button type="button" class="btn btn-secondary mx-2">Sign-up</button></a>
        </div>

        <div *ngIf="message">
          <!--  <li><a routerLink="Home">Home</a>  </li> -->
          <a  (click)='logout()' >  
          <button  class="btn btn-primary my-2">Logout</button>  
          </a> &nbsp; &nbsp;

          <a routerLink="Shopping" style="text-decoration: none;">
            <span class="text-danger"> {{total}}</span>
            <i class="fa fa-fw fa-shopping-cart fa-2x"></i>
            &nbsp;
            &nbsp;
            
            <!-- <div style="font-size: 10px;" class="badge bg-danger">{{total}}</div> -->
          </a>
          <a routerLink="../UserProfile">
            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
          </a>



          <a routerLink="WishList" style="text-decoration: none;">
            <span class="text-danger"> {{total}}</span>
            <i class="fa fa-fw fa-heart fa-lg"></i>
          </a>
        </div>


      </div>


    </div>
  </div>
</header>