<html>
    <body>
        <br>
        <h4 style="text-align: center;">Add Product</h4>
        <br>
        <div class="container">
        <div class="form-group">
            <label for="productname"><b>Product Name </b></label>
            <input type="text" class="form-control" placeholder="Product name" id="productnametxt"/>
        </div>
        <div class="form-group">
            <label for="productimg"><b>Product Image </b></label>
            <input type="text" class="form-control" placeholder="Product Image URL" id="productimgtxt"/>
        </div>
        <div class="form-group">
            <label for="productdesc"><b>Product Description </b></label>
            <textarea rows="10" class="form-control" placeholder="Product Description" id="productdesctxt"></textarea>
        </div>
        <div class="form-group">
            <label for="productprice"><b>Product Price </b></label>
            <input type="text" class="form-control" placeholder="Product PricePerUnit" id="productpricetxt"/>
        </div>
        <br>
        <div>
            <button type="submit" class="form-control" class="btn btn-primary btn-md" id="addproduct" routerLink="../RetailerProfile">Add Product</button>
        </div>
        </div>
    </body>
</html>
