<!-- <app-retailer-side-nav></app-retailer-side-nav> -->
<!-- <app-forgotpassword></app-forgotpassword> -->


<app-navpage></app-navpage>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

  <div style="height: 80px;"></div>


<div class="footer-basic">
  <div class="row " style="background-color: #a0a0a2; height: 4px;">
    
  </div>
  <div style="height: 34px;"></div>
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a routerLink="Home">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">&#169;  Larsen & Toubro Infotech Limited</p>
        </footer>
    </div>