<div style="height: 20px;"></div>
<div class="container border" style="background-image: url('assets/images/b8.png') ;">

  <div style="border: 0px; background-color: transparent;" class="card">
    <div class="card-body">

      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">

          <div class="row">
            <div class="col-lg-3"></div>
            <div  class="col-lg-6 py-4 border rounded"  style="background-color: #ffffff;" >
              <h4 class="text text-primary text-center" >Forgot Password</h4>
              <div style="height: 20px;"></div>

              <form [formGroup]="ForgotPasswordForm" (ngSubmit)="Submitdata()">


                <div class="form-group">
                    <label for="New Password" class="required" style="font-weight: 600;">New Password</label>
                    <input type="password" class="form-control" id="Password" placeholder="Enter New Password"
                      formControlName="Password" autocomplete="off">
                  </div>
                   <div  class="text text-primary" >
                      <ul>
                          <li style="font-size: 14px;" >Password should start with capital letter </li>
                          <li style="font-size: 14px;" >Password minimun length is 8 characters</li>
                          <li style="font-size: 14px;" >Password should contain atleast one special character</li>
                      </ul>
                      
                  </div>
  
                  <div *ngIf="!Password?.valid &&  (Password?.dirty || Password?.touched) " class="text-danger">
                    <div *ngIf="Password!.errors!.required">
                      New Password is required
                    </div>
                    <div *ngIf="Password!.errors!.pattern">
                      Invalid Password
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="ConPassword" class="required" style="font-weight: 600;">Confirm Password</label>
                    <input type="password" class="form-control" id="ConPassword" placeholder="Confirm Password"
                      formControlName="ConfirmPassword" autocomplete="off">
                  </div>
                  <div *ngIf="PasswordMatch===false">
                        <p class="text text-danger">Password and Confirm Password are not matching</p>  
                  </div>

                  <div *ngIf="!ConfirmPassword?.valid &&  (ConfirmPassword?.dirty || ConfirmPassword?.touched) " class="text-danger">
                    <div *ngIf="ConfirmPassword!.errors!.required">
                      Confirm Password is required
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="Otp" class="required" style="font-weight: 600;">OTP</label>
                    <input type="text" class="form-control" id="otp" placeholder="Enter OTP"
                      formControlName="Otp" autocomplete="off">
                  </div>

                  <div *ngIf="IsOTPValid===false">
                        <p class="text text-danger">Invalid OTP</p>  
                  </div>

                  <div *ngIf="!Otp?.valid &&  (Otp?.dirty || Otp?.touched) " class="text-danger">
                    <div *ngIf="Otp!.errors!.required">
                      OTP is required
                    </div>
                  </div>

                <div class="row justify-content-center" *ngIf="IsLoading; else buttondiv">
                  <img style="width: 100px;" src="./assets/ezgif.com-gif-maker.gif" alt="">
                </div>





                <ng-template #buttondiv>
                  <button type="submit" class="btn btn-primary py-2" style="width: 100%; "
                    [disabled]="!ForgotPasswordForm.valid">Submit</button>
                </ng-template>

                
              </form>

              <div style="height: 20px;"></div>

             
            </div>
            <div class="col-lg-3"></div>
          </div>



        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </div>
</div>
<div style="height: 20px;"></div>
