<div style="height: 20px;"></div>
<br>
<h4 style="text-align: center;">Edit Product</h4>
<br>
<div class="container">
    <form  [formGroup]="EditProductForm" (ngSubmit)="EditProduct()" >

        <div class="form-group">
            <label for="ProductName"><b>Product Name </b></label>
            <input type="text" class="form-control" placeholder="Product name" id="ProductName" formControlName="ProductName" />
        </div>
        <div class="form-group">
            <label for="BrandName"><b>Brand Name</b></label>
            <input type="text" class="form-control" placeholder="Brand Name" id="BrandName" formControlName="BrandName" />
        </div>
        <div class="form-group">
            <label for="PricePerUnit"><b>Price Per Unit</b></label>
            <input type="number" class="form-control" placeholder="Price Per Unit" id="PricePerUnit" formControlName="PricePerUnit" />
        </div>
        <div class="form-group">
            <label for="Description"><b>Product Description </b></label>
            <textarea rows="10" class="form-control" placeholder="Product Description" id="Description" formControlName="Description" ></textarea>
        </div>
        
        <div class="form-group">
            <label for="Quantity"><b>Quantity </b></label>
            <input type="number" class="form-control" placeholder="Quantity" id="Quantity" formControlName="Quantity" />
        </div>

        <div class="form-group">
            <label for="Category"><b>Category </b></label>
            <input type="number" class="form-control" placeholder="Category" id="Category" formControlName="CategoryId" />
        </div>
        

        <!--
        <div class="form-group">
            <label for="productprice"><b>CategoryId</b></label>&nbsp;
            <select name="CategoryId" id="CategoryId" formControlName="CategoryId">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>        
        </div>

        <div formArrayName="ProductImages">
            <h4>Product Images</h4>

            <div *ngFor="let pi of ProductImages.controls; let i=index" >
                 <div class="form-group">
                    <label for="ProductImage"><b>Select Image </b></label>
                    <input type="file" class="form-control" placeholder="Product Image" id="ProductImage" [formControlName]="i" />
                </div>
            </div>


            <div class="row d-flex ">
                <div class="col-lg-12">
                <button class="btn btn-outline-primary btn-sm float-right" (click)="addNewProductImageField()"  >Add More Images</button>
            </div>
            </div>

        </div>

        -->
       
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-md" id="editproduct" >Edit Product</button>
        </div>


    </form>

</div>
<div style="height: 20px;"></div>


