<!-- <p>adminapproval works!</p> -->
<div style="height: 20px;"></div>
<table class="table p-2">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>BrandName</th>
            <th>Quantity</th>
            <th>PricePerUnit</th>
            <th>RetailerId</th>
            <th>Status</th>
            <th>Approval</th>
        </tr>
    </thead>
    <tbody *ngFor="let product of products"> 
        <tr>
            <td>{{product.productName}}</td>
            <td>{{product.brandName}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.pricePerUnit}}</td>
            <td>{{product.retailerId}}</td>
            <td>{{product.status?'Approved':'Pending for Approval'}}</td>
            <td>
                <ng-container *ngIf="product.status" >
                <button class="btn btn-success btn-sm" >Approved</button>
                </ng-container>
                <ng-container *ngIf="!product.status" >
                <button class="btn btn-primary btn-sm" (click)="ApproveProduct(product.productId)">Approve</button>
                </ng-container>
            </td>
        </tr>   
    </tbody>
</table>
