<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img src="assets/categories/allproducts.jpeg" alt="">
                <h6>All products </h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/categories/fashion.jpg" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/categories/Mobiles.jpg" alt="">
                <h6>Mobiles</h6>
            </a>
        </div>
        <div class="item" >
            <a>
                <img src="assets/categories/Laptops.jpg" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/categories/home.jpg" alt="">
                <h6>Home</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/categories/Grocery.jpg" alt="">
                <h6>Grocery</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/categories/appliances.jpg" alt="">
                <h6>Appliances</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img src="assets/categories/travel.jpg" alt="">
                <h6>Travel</h6>
            </a>
        </div>
    </div>
</div>

