<br>
<h4>Welcome, Admin!</h4>
<button type="button" class="btn btn-outline-primary"><a routerLink="../AdminRetailerAdd">Add New Retailers</a></button>
<br><br>
<h4>List of Retailers: </h4>
<hr><br>
<div container="fluid">
<table class="table table-bordered table-hover table-md">
    <thead class="table-primary">
      <tr>
        <th scope="col">Retailer's ID</th>
        <th scope="col">Retailer's Name</th>
        <th scope="col">Edit Product</th>
        <th scope="col">Notification to Verify</th>
        <th scope="col">Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Delete</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>Delete</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Delete</td>
      </tr>
    </tbody>
  </table>
</div>