<br>
<!-- <h4>Welcome, Admin!</h4> -->
<!-- <button type="button" class="btn btn-outline-primary"><a routerLink="../AdminRetailerAdd">Add New Retailers</a></button>
<button type="button" class="btn btn-outline-primary"><a routerLink="../Adminapproval">Approve Products</a></button>
<br><br> -->
<h4>List of Retailers: </h4>
<hr><br>
<div container="fluid">
<table class="table table-bordered table-hover table-md">
    <thead class="table-primary">
      <tr>
        <th scope="col">Retailer's ID</th>
        <th scope="col">Retailer's Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile Number</th>
        <!-- <th scope="col">Notification to Verify</th> -->
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let r of retailers;let i = index;">
      <tr>
        <td>{{i+1}}</td>
        <td>{{r.retailerName}}</td>
        <td>{{r.email}}</td>
        <td>{{r.retailerMobile}}</td>
        <td><button (click)="DeleteOneData(r.email)" class="btn btn-danger">Delete</button></td>
      </tr>

    </tbody>
  </table>
</div>