


  <div style="height: 20px;"></div>
  <div class="container">
  
    <div style="border: 0px; " class="card">
      <div class="card-body">
  
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
  
            <div class="row">
              <div class="col-lg-3"></div>
              <div  class="col-lg-6 py-4 border border-primary rounded"  >
                <h4 class="text text-primary text-center" >Change Password</h4>
                <div style="height: 20px;"></div>
  
                <form [formGroup]="ChangePasswordForm" (ngSubmit)="Submitdata()">
  
                  <div class="row mx-2" style="background-color: #f1f0f0;" >
  
                  </div>
  
                  <div style="height: 20px;"></div>
  
  
                  <div class="form-group">
                    <label for="Old Password" class="required" style="font-weight: 600;">Old Password</label>
                    <input type="password" class="form-control" id="oldPassword" placeholder="Enter Old Password"
                      formControlName="OldPassword" autocomplete="off">
                  </div>
  
                  <div *ngIf="InvalidPassword===true">
                      <p class="text text-danger">Invalid Password</p>
                    </div>
  
                  <div *ngIf="!OldPassword?.valid &&  (OldPassword?.dirty || OldPassword?.touched) " class="text-danger">
                    <div *ngIf="OldPassword!.errors!.required">
                      Old Password is required
                    </div>
                    <div *ngIf="OldPassword!.errors!.pattern">
                      Invalid Password
                    </div>
                  </div>
  
                  <div class="form-group">
                      <label for="New Password" class="required" style="font-weight: 600;">New Password</label>
                      <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password"
                        formControlName="NewPassword" autocomplete="off">
                    </div>
    
                    <div *ngIf="!NewPassword?.valid &&  (NewPassword?.dirty || NewPassword?.touched) " class="text-danger">
                      <div *ngIf="NewPassword!.errors!.required">
                        New Password is required
                      </div>
                      <div *ngIf="NewPassword!.errors!.pattern">
                        Invalid Password
                      </div>
                    </div>
  
                    <div class="form-group">
                      <label for="ConPassword" class="required" style="font-weight: 600;">Confirm Password</label>
                      <input type="password" class="form-control" id="conPassword" placeholder="Confirm Password"
                        formControlName="ConfirmPassword" autocomplete="off">
                    </div>
                    <div *ngIf="PasswordMatch===false">
                      <p class="text text-danger">Password and Confirm Password are not matching</p>  
                    </div>
                    <div *ngIf="!ConfirmPassword?.valid &&  (ConfirmPassword?.dirty || ConfirmPassword?.touched) " class="text-danger">
                      <div *ngIf="ConfirmPassword!.errors!.required">
                        Confirm Password is required
                      </div>
                    </div>
  
                  <div class="row justify-content-center" *ngIf="IsLoading; else buttondiv">
                    <img style="width: 100px;" src="./assets/ezgif.com-gif-maker.gif" alt="">
                  </div>
  
  
                  <ng-template #buttondiv>
                    <button type="submit" class="btn btn-primary py-2" style="width: 100%; "
                      [disabled]="!ChangePasswordForm.valid">Change Password</button>
                  </ng-template>
  
                  
                </form>
  
                <div style="height: 20px;"></div>
  
                <div style="background-color: #f1f1f1;" class="p-4">
                  <div class="row">
                    <div class="col-4"><a href="" class="btn btn-danger">Cancel</a></div>
                    <div class="col-2"></div>
                    <div class="col-6  my-auto"><span>Forgot <a href="">password?</a> </span> </div>
                  </div>
  
                </div>
              </div>
              <div class="col-lg-3"></div>
            </div>
  
  
  
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
 
  