<div>
    <div class="col">
      <div class="card shadow-sm">
        <img  class="img-thumbnail" src="assets/phone2.jpg">
        <div class="card-body">
            <p class="card-text">
                <strong>{{65000 | currency:'INR'}}</strong>
            </p>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-primary">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
            </div>
          </div>
        </div>
      </div>
    </div>