<div>
    <div class="col">
      <div class="card shadow-sm">
        <img  class="img-thumbnail" src="assets/phone2.jpg">
        <!--  
        <div class="card-body">
            <p class="card-text">
                <strong>{{productItem.PricePerUnit | currency:'INR'}}</strong>
            </p>
            <p claa="card-text">{{productItem.ProductName}}</p>
            <p claa="card-text">{{productItem.BrandName}}</p>
          <p class="card-text">{{productItem.Description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-primary" (click)="handleAddtoCart()">Add to Cart</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
            </div>
          </div>
        </div>
        -->


      </div>
    </div>