/* You can add global styles to this file, and also import other style files */
 .carousel-aria-button{
    width: 28px;
    height: 40px;
    background-color: #007bff;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.required:after {
    content:" *";
    color: red;
}


